## **Librerías**

In [1]:
import polars as pl

In [2]:
import datetime as dt

## **Introducción**

### **Creación de DataFrames**

In [48]:
# Crear un DataFrame
df = pl.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Dianne'],
    'Birthdate': [
        dt.date(1997, 1, 30),
        dt.date(1998, 7, 3),
        dt.date(1999, 12, 14),
        dt.date(1994, 10, 13),
    ],
    'Weight': [57.9, 72.5, 53.6, 83.1],
    'Height': [1.65, 1.80, 1.70, 1.75],
    'Age': [28, 27, 26, 25] 
})

df

shape: (4, 5)
┌─────────┬────────────┬────────┬────────┬─────┐
│ Name    ┆ Birthdate  ┆ Weight ┆ Height ┆ Age │
│ ---     ┆ ---        ┆ ---    ┆ ---    ┆ --- │
│ str     ┆ date       ┆ f64    ┆ f64    ┆ i64 │
╞═════════╪════════════╪════════╪════════╪═════╡
│ Alice   ┆ 1997-01-30 ┆ 57.9   ┆ 1.65   ┆ 28  │
│ Bob     ┆ 1998-07-03 ┆ 72.5   ┆ 1.8    ┆ 27  │
│ Charlie ┆ 1999-12-14 ┆ 53.6   ┆ 1.7    ┆ 26  │
│ Dianne  ┆ 1994-10-13 ┆ 83.1   ┆ 1.75   ┆ 25  │
└─────────┴────────────┴────────┴────────┴─────┘

In [ ]:
# Mostrar el primer registro del DataFrame
df.head(1)

shape: (1, 4)
┌───────┬────────────┬────────┬─────┐
│ Name  ┆ Birthdate  ┆ Weight ┆ Age │
│ ---   ┆ ---        ┆ ---    ┆ --- │
│ str   ┆ date       ┆ f64    ┆ i64 │
╞═══════╪════════════╪════════╪═════╡
│ Alice ┆ 1997-01-30 ┆ 57.9   ┆ 28  │
└───────┴────────────┴────────┴─────┘

In [ ]:
# Mostrar el último registro del DataFrame
df.tail(1)

shape: (1, 4)
┌────────┬────────────┬────────┬─────┐
│ Name   ┆ Birthdate  ┆ Weight ┆ Age │
│ ---    ┆ ---        ┆ ---    ┆ --- │
│ str    ┆ date       ┆ f64    ┆ i64 │
╞════════╪════════════╪════════╪═════╡
│ Dianne ┆ 1994-10-13 ┆ 83.1   ┆ 25  │
└────────┴────────────┴────────┴─────┘

In [ ]:
# Mostrar un registro aleatorio del DataFrame
df.sample(1)

shape: (1, 4)
┌──────┬────────────┬────────┬─────┐
│ Name ┆ Birthdate  ┆ Weight ┆ Age │
│ ---  ┆ ---        ┆ ---    ┆ --- │
│ str  ┆ date       ┆ f64    ┆ i64 │
╞══════╪════════════╪════════╪═════╡
│ Bob  ┆ 1998-07-03 ┆ 72.5   ┆ 27  │
└──────┴────────────┴────────┴─────┘

In [8]:
# Ver las dimenriones del DataFrame
df.shape

(4, 4)

In [ ]:
# Ver la distribución del DataFrame
df.describe()

shape: (9, 5)
┌────────────┬────────┬─────────────────────┬───────────┬──────────┐
│ statistic  ┆ Name   ┆ Birthdate           ┆ Weight    ┆ Age      │
│ ---        ┆ ---    ┆ ---                 ┆ ---       ┆ ---      │
│ str        ┆ str    ┆ str                 ┆ f64       ┆ f64      │
╞════════════╪════════╪═════════════════════╪═══════════╪══════════╡
│ count      ┆ 4      ┆ 4                   ┆ 4.0       ┆ 4.0      │
│ null_count ┆ 0      ┆ 0                   ┆ 0.0       ┆ 0.0      │
│ mean       ┆ null   ┆ 1997-07-30 18:00:00 ┆ 66.775    ┆ 26.5     │
│ std        ┆ null   ┆ null                ┆ 13.560082 ┆ 1.290994 │
│ min        ┆ Alice  ┆ 1994-10-13          ┆ 53.6      ┆ 25.0     │
│ 25%        ┆ null   ┆ 1997-01-30          ┆ 57.9      ┆ 26.0     │
│ 50%        ┆ null   ┆ 1998-07-03          ┆ 72.5      ┆ 27.0     │
│ 75%        ┆ null   ┆ 1998-07-03          ┆ 72.5      ┆ 27.0     │
│ max        ┆ Dianne ┆ 1999-12-14          ┆ 83.1      ┆ 28.0     │
└────────────┴────────┴─────────────────────┴───────────┴──────────┘

In [18]:
# Guardar el DataFrame
df.write_csv('../Data/Dataframe.csv')
df.write_excel('../Data/Dataframe.xlsx')
df.write_parquet('../Data/Dataframe.parquet')

In [21]:
# Leer el Dataframe
df = pl.read_parquet('../Data/Dataframe.parquet')
df

shape: (4, 4)
┌─────────┬────────────┬────────┬─────┐
│ Name    ┆ Birthdate  ┆ Weight ┆ Age │
│ ---     ┆ ---        ┆ ---    ┆ --- │
│ str     ┆ date       ┆ f64    ┆ i64 │
╞═════════╪════════════╪════════╪═════╡
│ Alice   ┆ 1997-01-30 ┆ 57.9   ┆ 28  │
│ Bob     ┆ 1998-07-03 ┆ 72.5   ┆ 27  │
│ Charlie ┆ 1999-12-14 ┆ 53.6   ┆ 26  │
│ Dianne  ┆ 1994-10-13 ┆ 83.1   ┆ 25  │
└─────────┴────────────┴────────┴─────┘

### **Operaciones**

In [55]:
result = df.select(
    pl.col('Name'),
    pl.col('Birthdate'),
    pl.col('Birthdate').dt.year().alias('Birth_Year'),
    pl.col('Weight', 'Height').name.suffix('_cm'),
    (pl.col('Weight') / (pl.col('Height') ** 2)).alias('BMI')
)

result

shape: (4, 6)
┌─────────┬────────────┬────────────┬───────────┬───────────┬───────────┐
│ Name    ┆ Birthdate  ┆ Birth_Year ┆ Weight_cm ┆ Height_cm ┆ BMI       │
│ ---     ┆ ---        ┆ ---        ┆ ---       ┆ ---       ┆ ---       │
│ str     ┆ date       ┆ i32        ┆ f64       ┆ f64       ┆ f64       │
╞═════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╡
│ Alice   ┆ 1997-01-30 ┆ 1997       ┆ 57.9      ┆ 1.65      ┆ 21.267218 │
│ Bob     ┆ 1998-07-03 ┆ 1998       ┆ 72.5      ┆ 1.8       ┆ 22.376543 │
│ Charlie ┆ 1999-12-14 ┆ 1999       ┆ 53.6      ┆ 1.7       ┆ 18.546713 │
│ Dianne  ┆ 1994-10-13 ┆ 1994       ┆ 83.1      ┆ 1.75      ┆ 27.134694 │
└─────────┴────────────┴────────────┴───────────┴───────────┴───────────┘